@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}


nav {
  display: flex;
  max-width: 1500px;
  min-width: 1500px;
  padding: 25px 10px 40px 10px;
  margin-bottom: 25px;
  justify-content: space-between;
  position: relative;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
nav::after {
  content: "";
  position: absolute;
  height: 0.6px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(201, 201, 201);
}
nav .logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}



nav .navLinks {
  flex: 2;
}
nav .navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navLinks .links {
  display: flex;
  gap: 25px;
}
nav .navLinks .links a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.4px;
}
nav .navLinks .links a:hover {
  color: #222;
  transition: 0.3s;
  cursor: pointer;
}
nav .menuBtn {
  padding: 8px 20px;
  color: black;
  background: transparent;
  border: 1px solid #333;
  border-radius: 20px;
  font-size: 16px;
}
nav .menuBtn:hover {
  color: #fff;
  background: #222;
  transition: 0.3s;
  cursor: pointer;
}
nav .hamburger {
  display: none;
}
nav svg {
  font-size: 1.75rem;
}
@media (max-width: 1520px) {
  nav {
    min-width: 100%;
    padding: 25px 20px 40px 20px;
  }
}
@media (max-width: 1100px) {
  nav {
    z-index: 20;
    position: unset;
    background: #ffffff63;
    padding: 10px 30px;
  }
  nav::after {
    content: "";
    display: none;
  }
  nav .hamburger {
    display: flex;
  }
  nav .navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    z-index: -1;
    transition: 0.3s;
  }
  nav .showmenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 67px;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 15px 7.5px;
    transition: 0.3s;
    margin: 0 15px;
    width: 96.7vw;
    margin-right: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  nav .showmenu .links {
    flex-direction: column;
    text-align: center;
  }
  nav .menuBtn {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  nav .showmenu {
    width: 96vw;
  }
}
@media (max-width: 650px) {
  nav .showmenu {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
/**********************************************************************************************************************/

/********************** HERO SECTION COMPONENT STYLING **************************/
/**********************************************************************************************************************/
.heroSection {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  align-items: center;
  background: url(/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 15px;
}
.heroSection .container {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
}
.heroSection .container .banner:first-child {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.heroSection .container .banner .largeBox {
  width: 100%;
}
.heroSection .container .banner .combined_boxes {
  display: flex;
  width: 100%;
}
.heroSection .container .banner .title {
  font-size: 8.5rem;
  font-weight: 200;
}
.heroSection .container .banner .textAndLogo {
  width: 50%;
}
.heroSection .container .banner .textWithSvg {
  position: relative;
}
.heroSection .container .banner .textWithSvg img {
  position: absolute;
  right: 0;
  top: 0;
}
.heroSection .container .banner:first-child .dishes_title {
  display: none;
}
.heroSection .container .banner:first-child .imageBox {
  width: 50%;
}
.heroSection .container .banner:last-child .imageBox {
  width: 100%;
}
.heroSection .container .banner .imageBox img {
  width: 300px;
  height: 385px;
}
.heroSection .container .banner:last-child .imageBox {
  text-align: end;
}
.heroSection .container .banner:last-child {
  flex: 1;
}

.heroSection .scroll-menu {
  padding: 20 10px;
  overflow: auto;
  white-space: nowrap;
  height: 660px;
  transform: translateX(1%);
}

.heroSection .scroll-menu .image1 {
  width: 315px;
}

.heroSection .scroll-menu .image2 {
  width: 472px;
}

.heroSection .scroll-menu .image3 {
  width: 418px;
}

.heroSection .scroll-menu .image4 {
  width: 475px;
}

.heroSection .scroll-menu .image5 {
  width: 472px;
}

.heroSection .scroll-menu .image6 {
  width: 472px;
}

@media (max-width: 1280px) {
  .heroSection .container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 20px;
  }
}
@media (max-width: 1072px) {
  .heroSection .container .banner .title {
    font-size: 6.5rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 880px) {
  .heroSection .container .banner .title {
    font-size: 6rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 265px;
  }    
  
}
@media (max-width: 830px) {
  .heroSection .container .banner:last-child .imageBox {
    height: 350px;
  }
  .heroSection .container .banner:last-child .imageBox img {
    display: none;
  }
  .heroSection .container .banner .combined_boxes {
    flex-direction: column-reverse;
  }
  .heroSection .container .banner .textAndLogo {
    width: 100%;
    text-align: end;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 60px;
  }
  .heroSection .container .banner:last-child .dishes_title {
    margin-top: 65px;
  }
  .heroSection .container .banner .imageBox img {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .heroSection .container .banner .title {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px) {
  .heroSection .container .banner:last-child .dishes_title {
    display: none;
  }
  .heroSection .container .banner:first-child .dishes_title {
    display: block;
  }
  .heroSection .container .banner:first-child {
    width: 100%;
  }
  .heroSection .container .banner:last-child {
    display: none;
  }
  .heroSection .container .banner .title {
    text-align: center;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 0;
  }
  .heroSection .container .banner .textWithSvg {
    width: fit-content;
    margin: 0 auto;
  }
  .heroSection .container .banner .textAndLogo {
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox {
    width: 100%;
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox img {
    width: 290px;
    height: 350px;
  }
}
@media(max-width: 650px){
  .heroSection{
    padding: 0;
  }
}
@media (max-width: 330px) {
  .heroSection .container .banner:first-child .imageBox img {
    width: 100%;
    height: auto;
  }
}



/**********************************************************************************************************************/

/******************* RESERVATION COMPONENT STYLING **************/
/**********************************************************************************************************************/
.reservation {
  display: flex;
  min-height: 10vh;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
  background: url(/reserve.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.reservation .container .banner {
  width: 100%;
  padding: 50px;
}
.reservation .container .banner .reservation_form_box {
  width: 750px;
  align-items: center;
  background: #fff;
  height: 100%;
  padding: 20px;
  box-shadow: -1px 0px 37px 0px rgba(9, 246, 187, 0.75);
  -webkit-box-shadow: -1px 0px 37px 0px rgba(180, 83, 143, 0.75);
  -moz-box-shadow: -1px 0px 37px 0px rgba(152, 87, 191, 0.75);
}
.reservation .container .banner .reservation_form_box form div {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}
.reservation .container .banner .reservation_form_box form div input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
}
.reservation
  .container
  .banner
  .reservation_form_box
  form
  input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
}
.reservation
  .container
  .banner
  .reservation_form_box
  form
  input[type="number"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
}
.reservation .container .banner .reservation_form_box form div input:focus,
.reservation
  .container
  .banner
  .reservation_form_box
  form
  input[type="number"]:focus,
.reservation
  .container
  .banner
  .reservation_form_box
  form
  input[type="email"]:focus {
  outline: none;
  border-bottom: 2px solid skyblue;
}
.reservation
  .container
  .banner
  .reservation_form_box
  form
  div
  input::placeholder {
  color: #222;
}
.reservation .container .banner .reservation_form_box h1 {
  font-weight: 200;
  font-size: 2.75rem;
  color: #111;
  text-align: center;
}
.reservation .container .banner .reservation_form_box p {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.reservation .container .banner:first-child {
  display: flex;
  justify-content: center;
}
.reservation .container .banner img {
  width: 550px;
}
.reservation .container .banner .reservation_form_box form button {
  border: 1px solid black;
  padding: 8px 36px;
  border-radius: 30px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 13px;
  color: #111;
  background: transparent;
  margin-top: 30px;
}
.reservation .container .banner .reservation_form_box form button span {
  margin-left: 1rem;
  padding: 3px;
  background: #111;
  border-radius: 100%;
  color: #fff;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.33% - 20px); /* Adjust width as needed */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-bottom: 10px;
}

.reservation-details {
  display: flex;
  justify-content: flex-start;
}

.btn-delete {
  margin-top: 10px;
  margin-left: 1.5cm;
  align-items: center;
}

.btn-update {
  margin-top: 10px;
  margin-left: 1.2cm;
  align-items: center;
}


@media (max-width: 1520px) {
  .reservation .container {
    min-width: 100%;
  }
}
@media (max-width: 1040px) {
  .reservation .container .banner {
    padding: 20px;
  }
}
@media (max-width: 1350px) {
  .reservation .container .banner img {
    width: 42vw;
  }
}
@media (max-width: 885px) {
  .reservation .container {
    flex-direction: column;
    gap: 30px;
  }
  .reservation .container .banner img {
    width: 70vw;
  }
  .reservation .container .banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .reservation .container .banner img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .reservation .container .banner .reservation_form_box {
    width: 100%;
  }
  .reservation .container .banner .reservation_form_box h1 {
    font-size: 2rem;
  }
}
@media (max-width: 325px) {
  .reservation .container .banner .reservation_form_box h1 {
    font-size: 1.6rem;
  }
}

/**********************************************************************************************************************/

/******************* RESTAURANT LIST STYLING **************/
/**********************************************************************************************************************/

.restaurant-list {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

.restaurant-list h1 {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  gap: 20px;
  }

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -1px 0px 37px 0px rgba(9, 246, 187, 0.75);
  -webkit-box-shadow: -1px 0px 37px 0px rgba(248, 201, 227, 0.75);
  -moz-box-shadow: -1px 0px 37px 0px rgba(162, 157, 165, 0.75);
  overflow: hidden;
  width: 330px;
  position: relative;
  perspective: 1000px;
}


.card-title {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-text {
  margin-bottom: 5px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px; /* Add a maximum height and overflow to allow scrolling */
  overflow-y: auto;
  justify-content: center;
}

.dropdown-menu label {
  flex: 0 0 auto; /* Allow each label to grow or shrink dynamically */
  white-space: nowrap; /* Prevent wrapping */
  margin-right: 10px; /* Add some space between cuisines */
}



.card-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity here */
}

.restaurant-list .filter-container {
  font-size: 10px;
}

.dropdown-toggle {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu label {
  display: block;
  padding: 8px 12px;
}

.dropdown-menu label input {
  margin-right: 8px;
}


.button-container {
  margin-top: 20px;
  text-align: center;
}

.generate-report-button {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.generate-report-button:hover {
  background-color: #f8d3e1;
}

.table-container {
  margin-top: 20px;
  text-align: center;
}

.report-container {
  margin-top: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
}

.centered {
  text-align: center;
}


.report-container {
  width: 80%; /* Set the desired width */
  margin: 0 auto; /* Center horizontally */
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table th,
.report-table td {
  padding: 10px;
}

.report-table th {
  background-color: #f2f2f2;
}

.report-table td {
  border: 1px solid #ddd;
}

.report-table th,
.report-table td {
  padding: 15px; /* Increase padding for better spacing */
}

.report-table th:first-child,
.report-table td:first-child {
  width: 10%; /* Adjust the width of the first column */
}

.report-table th:nth-child(2),
.report-table td:nth-child(2) {
  width: 10%; /* Adjust the width of the second column */
}

.report-table th:nth-child(3),
.report-table td:nth-child(3) {
  width: 10%; /* Adjust the width of the third column */
}

.report-table th:first-child,
.report-table td:first-child {
  text-align: left;
}

.report-table th:last-child,
.report-table td:last-child {
  text-align: right;
}


/**********************************************************************************************************************/

/******************* NOT FOUND PAGE STYLING **************/
/**********************************************************************************************************************/
.notFound {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.notFound .container {
  max-width: 1500px;
  text-align: center;
}
.notFound .container img {
  margin-bottom: 2rem;
}
.notFound .container h1 {
  font-size: 2.75rem;
  font-weight: 300;
  color: #222;
  margin-bottom: 0.5rem;
}
.notFound .container p {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  margin-bottom: 1.5rem;
}
.notFound .container a {
  border: 1px solid black;
  padding: 8px 28px;
  border-radius: 30px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #111;
}
.notFound .container a span {
  margin-left: 1rem;
  padding: 6px;
  background: #111;
  border-radius: 100%;
  color: #fff;
}
.notFound .container a:hover {
  color: #fff;
  background: #111;
  transition: ease-in-out 0.3s;
}
.notFound .container a:hover span {
  background: #fff;
  color: #111;
}
@media (max-width: 600px) {
  .notFound {
    padding: 30px 20px;
  }
  .notFound .container img {
    width: 100%;
  }
  .notFound .container h1 {
    font-size: 1.75rem;
  }
}
/**********************************************************************************************************************/